body
{
   min-height: 100vh;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(190, 12%, 90%); 
  background-size: cover;


.container {
  flex: 1;
}



}


 h2 {
  color: #606260;
  text-align: center;

}

nav ul {
  display: flex;
  background: #333;
  padding: 10px;
  list-style-type: none;
  justify-content: center; 
}

nav ul li a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
img {
  transition: all 0.3s ease;
} 
img:hover {
  transform: scale(1.1); 
}


  footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #c4a396;
  padding: 10px;
  text-align: center;
}

h3 {
  color: #606260;
  text-align: center;
}